@using System.Drawing.Drawing2D
@using System.Numerics
@using System.Security.Cryptography
@using Proteus.Core
@using GLOM.Geometry
<!--
If you want to enable Blazor routing, you should remove all of this contents,
and uncomment the below line. (See also: https://docs.microsoft.com/en-us/aspnet/core/blazor/routing )

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView>
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

-->


@inject IJSInProcessRuntime jsRuntime
@code {

    protected override void OnInitialized()
    {
        ProteusContext.SetRuntime(jsRuntime);
       
        PButton buttontest = new PButton("","icons/pdf_icon_100.png");
        buttontest.OnClick += button => { ProteusContext.Log("Clicked "+button.ToString()); };
 
        PVerticalLayout hl =
            new PVerticalLayout();
     
        hl.Add(buttontest);
       
        hl.Layout( new Point(0, 0), new Size(1024, 800));
        hl.Render(new Matrix(Matrix4x4.Identity));
    }

}
